@model EmployeesDashboard.Models.API.Account
@{ ViewData["Title"] = "Account Details Page"; }

<h3>Account @Html.Display("Id")</h3>

<div class="mb-4">
  <div>
    <strong>Id</strong>:
    <span>@Html.Display("Id")</span>
  </div>
  <div>
    <strong>Balance</strong>:
    <span>@Html.Display("Balance")</span>
  </div>
  <div>
    <strong>Created At</strong>:
    <span>@Html.Display("CreatedAt")</span>
  </div>
</div>

<h4>Transactions</h4>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Information</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var transaction in Model.Transactions)
    {
      <tr>
        <td>@Html.DisplayFor(m => transaction.Id)</td>
        <td class="@(@transaction.Discriminator == "Deposit" ? "text-danger" : "")">
          @if (transaction.Discriminator == "Deposit")
          {
            <span>-</span>
          }
          @Html.DisplayFor(m => transaction.Amount)
        </td>
        <td>@Html.DisplayFor(m => transaction.Discriminator)</td>
        <td>@Html.DisplayFor(m => transaction.Information)</td>
        <td>@Html.DisplayFor(m => transaction.CreatedAt)</td>
      </tr>
    }
  </tbody>
</table>