@model IEnumerable<EmployeesDashboard.Models.API.Account>

@{
  ViewData["Title"] = "List";
}

<h1>Acccounts List</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Balance)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.ClientId)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.CreatedAt)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.Id)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Balance)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ClientId)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.CreatedAt)
      </td>
      <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
      </td>
    </tr>
}
  </tbody>
</table>
