@model IEnumerable<EmployeesDashboard.Models.API.Account>
@{
    ViewData["Title"] = "Accounts Page";
}

<div class="text-center">
  <h1 class="display-4">Accounts</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Balance</th>
        <th>Client ID</th>
        <th>Created At</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var account in Model)
      {
          <tr>
            <td>@Html.DisplayFor(modelAccount => account.Id)</td>
            <td>@Html.DisplayFor(modelAccount => account.Balance)</td>
            <td>@Html.DisplayFor(modelAccount => account.ClientId)</td>
            <td>@Html.DisplayFor(modelAccount => account.CreatedAt)</td>
            <td>
              <a asp-action="Details" asp-route-id="@account.Id">Details</a>
            </td>
          </tr>
      }
    </tbody>
  </table>
</div>
