@model EmployeesDashboard.Models.API.Client
@{ ViewData["Title"] = "Client Details Page"; }

<h3>Client @Html.Display("Id")</h3>

<div class="mb-4">
  <div>
    <strong>Id</strong>:
    <span>@Html.Display("Id")</span>
  </div>
  <div>
    <strong>Name</strong>:
    <span>@Html.Display("FirstName") @Html.Display("LastName")</span>
  </div>
  <div>
    <strong>Email</strong>:
    <span>@Html.Display("Email")</span>
  </div>
  <div>
    <strong>Username</strong>:
    <span>@Html.Display("UserName")</span>
  </div>
  <div>
    <strong>National ID</strong>:
    <span>@Html.Display("NationalId")</span>
  </div>
  <div>
    <strong>Created At</strong>:
    <span>@Html.Display("CreatedAt")</span>
  </div>
</div>

<h4>Accounts</h4>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Balance</th>
      <th>Created At</th>
      <th></th>
    </tr>
    <tbody>
      @foreach(var account in Model.Accounts) {
        <tr>
          <td>@Html.DisplayFor(modelAccount => account.Id)</td>
          <td>@Html.DisplayFor(modelAccount => account.Balance)</td>
          <td>@Html.DisplayFor(modelAccount => account.CreatedAt)</td>
          <td><a asp-controller="Accounts" asp-action="Details" asp-route-id="@account.Id">Details</a></td>
        </tr>
      }
    </tbody>
  </thead>
</table>