@model EmployeesDashboard.Models.API.Client
@{ ViewData["Title"] = "Client Details Page"; }

<h3>Client @Model.Id</h3>

<div>
  <div>
    <strong>Id</strong>:
    <span>@Model.Id</span>
  </div>
  <div>
    <strong>Name</strong>:
    <span>@Model.FirstName @Model.LastName</span>
  </div>
  <div>
    <strong>Email</strong>:
    <span>@Model.Email</span>
  </div>
  <div>
    <strong>Username</strong>:
    <span>@Model.UserName</span>
  </div>
  <div>
    <strong>National ID</strong>:
    <span>@Model.NationalId</span>
  </div>
  <div>
    <strong>Created At</strong>:
    <span>@Model.CreatedAt</span>
  </div>
</div>