@model EmployeesDashboard.Models.API.Loan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YearlyInterestRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YearlyInterestRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationInMonths)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationInMonths)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Information)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Information)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonthlyPayment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonthlyPayment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RemainingAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RemainingAmount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
