@model IEnumerable<EmployeesDashboard.Models.API.Loan>

@{
    ViewData["Title"] = "Index";
}

<h1>Loans List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RemainingAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearlyInterestRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DurationInMonths)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MonthlyPayment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RemainingAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearlyInterestRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInMonths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MonthlyPayment)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
